@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('./Poppins/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Light';
  src: url('./Poppins/Poppins-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('./Poppins/Poppins-Regular.ttf') format('truetype');
}
